@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: white;
}

header {
    margin-top: 0;
    width: 100vw;
    height: 5em;
    background: white;
    box-shadow: 0 1px 5px black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header img
{
    width: 10em;
}
header .menu_principal
{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
header .menu_principal li
{
    margin: 0 1em;
}
header a
{
    text-decoration: none;
    color: black;
}
header .end
{
    display: flex;
    align-items: end;
    flex-direction: row;
    margin: auto  2em;
}
header .end a
{
    margin: 0 1em;
    width: 3em;
}
header .menu_deroulant
{
    display: none;
    position: absolute;
    border: 1px #7a7a7a solid;
    border-radius: 5px;
    background: white;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    top: 5em;
    right: 0;
    z-index: 1000;
    list-style: none;
}

main
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

footer
{
    padding: 1em;
    margin: 0 auto;
    border-top: 1px solid black;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login_card {
    position: relative;
    width: 400px;
    background: #dcdcdc;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 1em;
}
.login_content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.login_content h2 {
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
}

.login_content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.login_content form .text_box {
    position: relative;
    width: 100%;
    background: #b2b2b2;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.card
{
    margin: 1em 0;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
}
.card:link
{
    text-decoration: none;
    text-decoration-color: black;
}
.card:visited
{
    text-decoration: none;
    text-decoration-color: black;
}
.card:active
{
    text-decoration: none;
    text-decoration-color: black;
}
.card article
{
    display: flex;
    flex-direction: column;
    width: 40em;
    padding: 1em;


}

.card .materiel_card .haut
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.card .medic_card .haut:first-child
{
    display: grid;
    grid-template-columns: 80% 20%;
}

.card article .bas
{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.card article .bas .description
{
    grid-column-start: 1;
}
.card article .bas form
{
    grid-column-start: -1;
}

.card .utilisateur_card
{
    width: 20rem;
}

.search
{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 2em;
    margin-bottom: 1em;
}
.search .searchTextBox{
    width: 30em;
    height: 3em;
    border: 1px solid black;
    border-right: none;
    border-radius: 3em 0 0 3em;
    padding: 1em;
    outline: none;
    color: black;
}
.search .searchButton {
    width: 3em;
    height: 3em;
    border: 1px solid black;
    border-left: none;
    background: #ffffff;
    text-align: center;
    color: white;
    border-radius: 0 3em 3em 0;
    cursor: pointer;
    padding-right: 2em;
}
.search .searchButton img {
    width: 2em;
    height: 2em;
}

.ajout_panier
{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}
.ajout_panier .numeric_ajout_panier
{
    width: 5em;
    height: 2em;
    padding: 0.5em;
    border: 1px #868686 solid;
    border-right: none;
    border-radius: 2em 0 0 2em;
}
.ajout_panier .bouton_ajout_panier
{
    width: 10em;
    height: 2em;
    border: 1px #868686 solid;
    border-left: none;
    border-radius: 0 2em 2em 0;
    background-color: white;
}
.ajout_panier .bouton_ajout_panier:hover
{
    background-color: #e0e0e0;
}

.choix_de_page
{
    display: grid;
    grid-template-rows: 1fr;
    margin: 2em 0;
    align-items: center;
}
.choix_de_page button
{
    width: 3em;
    height: 3em;
    border: 1px #8a8a8a solid;
    margin: 0;
    background-color: white;
}
.choix_de_page button:hover
{
    background-color: #f3f3f3;
    cursor: pointer;
}
.choix_de_page button:first-child
{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.choix_de_page button:last-child
{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
}

.mainListUtilisateur
{
    width: 95vh;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form_profile_vue_admin{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 80vh;
}

.dashboard_card{
    margin: 5rem;
    border: 1px solid #7c7c7c;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_card a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.dashboard_card a img
{
    width: 10em;
}

.dashboard_card a h3
{
    margin: 1em;
}

