@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: white;
}

header {
    margin-top: 0px;
    width: 100vw;
    height: 5em;
    background: white;
    box-shadow: 0px 1px 5px black;
    border: 1px black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

main
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

.login_card {
    position: absolute;
    width: 400px;
    background: #dcdcdc;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
}
.login_content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.login_content h2 {
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
}

.login_content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.login_content form .text_box {
    position: relative;
    width: 100%;
    background: #b2b2b2;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}